.header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.box {
  width: 100%;
  display: flex;
  padding: 45px 0;
  background-image: url(../../images/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 55px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li {
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.li:not(:last-child) {
  margin-right: 100px;
}

.button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 23px;
  line-height: 1.21739130435;
  text-align: center;
  color: #ffffff;
  background-image: url(../../images/header-button-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 27px 36px;
  cursor: pointer;
}
