@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Montserrat/stylesheet.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Roboto",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 40px;
}
